@import '~@angular/material/theming';
@import './palette.scss';

@include mat-core();

// LIGHT THEME

$template-primary-light: mat-palette($mat-blue-grey);
$template-accent-light: mat-palette($mat-amber, A200, A100, A400);
$template-warn-light: mat-palette($mat-deep-orange);


$template-theme-light: mat-dark-theme((
  color: (
    primary: $template-primary-light,
    accent: $template-accent-light,
    warn: $template-warn-light,
  )
));

@include angular-material-theme($template-theme-light);